<script type="text/template" id="actividadList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Name</th>
		 <th>Descripcion</th>
		 <th>Hora</th>
		 <th>Costo</th>
		 <th>Tema</th>
		 <th>Lugar_actividad Id</th>
		 <th>Expositor_actividad Id</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(actividads, function(actividad) { %>
    <tr>
		<td><%= htmlEncode(actividad.getDisplay('name')) %></td>
		<td><%= htmlEncode(actividad.getDisplay('descripcion')) %></td>
		<td><%= htmlEncode(actividad.getDisplay('hora')) %></td>
		<td><%= htmlEncode(actividad.getDisplay('costo')) %></td>
		<td><%= htmlEncode(actividad.getDisplay('tema')) %></td>
		<td><%= htmlEncode(actividad.getDisplay('lugar_actividadId')) %></td>
		<td><%= htmlEncode(actividad.getDisplay('expositor_actividadId')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-actividad-edit',{id:<%= actividad.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-actividad-delete',{id:<%= actividad.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="actividad">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-actividadForm">
    <% if(actividad.id) {%>
    <input type="hidden" name="id" value="<%= actividad.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= actividad.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="descripcion">Descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= actividad.get('descripcion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="hora">Hora</label>
    	<input type="text" class="form-control" id="hora" name="hora" placeholder="Enter value" value="<%= actividad.get('hora') %>"/>	
		</div>
		<div class="form-group" >
		<label for="costo">Costo</label>
    	<input type="text" class="form-control" id="costo" name="costo" placeholder="Enter value" value="<%= actividad.get('costo') %>"/>	
		</div>
		<div class="form-group" >
		<label for="tema">Tema</label>
    	<input type="text" class="form-control" id="tema" name="tema" placeholder="Enter value" value="<%= actividad.get('tema') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="lugar_actividadidId">Lugar_actividad Id</label> 
            <select class="form-control" id="lugar_actividadId" name="lugar_actividadId">
			  <option value="">None</option>
            <% lugar_actividad.each(function(lugar_actividadid) { %> 
              <option value="<%=lugar_actividadid.get('id')%>" <% if(actividad.get('lugar_actividadId')==lugar_actividadid.get('id')) {%>selected<%}%> ><%=lugar_actividadid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
		<div class="form-group" >
 
			<label for="expositor_actividadidId">Expositor_actividad Id</label> 
            <select class="form-control" id="expositor_actividadId" name="expositor_actividadId">
			  <option value="">None</option>
            <% expositor_actividad.each(function(expositor_actividadid) { %> 
              <option value="<%=expositor_actividadid.get('id')%>" <% if(actividad.get('expositor_actividadId')==expositor_actividadid.get('id')) {%>selected<%}%> ><%=expositor_actividadid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 