<script type="text/template" id="actividad">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-actividadForm">
    <% if(actividad.id) {%>
    <input type="hidden" name="id" value="<%= actividad.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= actividad.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="descripcion">Descripcion</label>
    	<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Enter value" value="<%= actividad.get('descripcion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="costo">Costo</label>
    	<input type="text" class="form-control" id="costo" name="costo" placeholder="Enter value" value="<%= actividad.get('costo') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fecha">Fecha</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fecha"  name="fecha" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fecha').datepicker({autoclose:true});
        	$('#fecha').datepicker('setDate',App.Utils.Converter.date.toDate("<%= actividad.get('fecha') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="hora">Hora</label>
    	<input type="text" class="form-control" id="hora" name="hora" placeholder="Enter value" value="<%= actividad.get('hora') %>"/>	
		</div>
		<div class="form-group" >
 
			<label for="lugar_actividadidId">Lugar_actividad Id</label> 
            <select class="form-control" id="lugar_actividadId" name="lugar_actividadId">
			  <option value="">None</option>
            <% lugar_actividad.each(function(lugar_actividadid) { %> 
              <option value="<%=lugar_actividadid.get('id')%>" <% if(actividad.get('lugar_actividadId')==lugar_actividadid.get('id')) {%>selected<%}%> ><%=lugar_actividadid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
		<div class="form-group" >
 
			<label for="expositor_actividadidId">Expositor_actividad Id</label> 
            <select class="form-control" id="expositor_actividadId" name="expositor_actividadId">
			  <option value="">None</option>
            <% expositor_actividad.each(function(expositor_actividadid) { %> 
              <option value="<%=expositor_actividadid.get('id')%>" <% if(actividad.get('expositor_actividadId')==expositor_actividadid.get('id')) {%>selected<%}%> ><%=expositor_actividadid.get('name')%></option>
            <% }); %>                
            </select>  
		</div>
    </form>
    </div>
</script> 