<script type="text/template" id="dia_Inscripcion">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-dia_InscripcionForm">
    <% if(dia_Inscripcion.id) {%>
    <input type="hidden" name="id" value="<%= dia_Inscripcion.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= dia_Inscripcion.get('name') %>"/>	
		</div>
		<div class="form-group" >
			<label for="fecha">Fecha</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="fecha"  name="fecha" placeholder="Enter value" />
    		<%= '<scr'+'ipt>' %>
        	$('#fecha').datepicker({autoclose:true});
        	$('#fecha').datepicker('setDate',App.Utils.Converter.date.toDate("<%= dia_Inscripcion.get('fecha') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
		<label for="numInscritos">Num Inscritos</label>
    	<input type="text" class="form-control" id="numInscritos" name="numInscritos" placeholder="Enter value" value="<%= dia_Inscripcion.get('numInscritos') %>"/>	
		</div>
    </form>
    </div>
</script> 