<script type="text/template" id="lugarList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Name</th>
		 <th>Direccion</th>
		 <th>Costo</th>
		 <th>Detalles</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(lugars, function(lugar) { %>
    <tr>
		<td><%= htmlEncode(lugar.getDisplay('name')) %></td>
		<td><%= htmlEncode(lugar.getDisplay('direccion')) %></td>
		<td><%= htmlEncode(lugar.getDisplay('costo')) %></td>
		<td><%= htmlEncode(lugar.getDisplay('detalles')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-lugar-edit',{id:<%= lugar.id %>}); return false" >Edit</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-lugar-delete',{id:<%= lugar.id %>}); return false" >Delete</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="lugar">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-lugarForm">
    <% if(lugar.id) {%>
    <input type="hidden" name="id" value="<%= lugar.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= lugar.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="direccion">Direccion</label>
    	<input type="text" class="form-control" id="direccion" name="direccion" placeholder="Enter value" value="<%= lugar.get('direccion') %>"/>	
		</div>
		<div class="form-group" >
		<label for="costo">Costo</label>
    	<input type="text" class="form-control" id="costo" name="costo" placeholder="Enter value" value="<%= lugar.get('costo') %>"/>	
		</div>
		<div class="form-group" >
		<label for="detalles">Detalles</label>
    	<input type="text" class="form-control" id="detalles" name="detalles" placeholder="Enter value" value="<%= lugar.get('detalles') %>"/>	
		</div>
    </form>
    </div>
</script> 